{erl_opts, [debug_info]}.

{cover_enabled, true}.

{deps, [
       {lager, "2.0.*", {git, "git://github.com/basho/lager", {branch, "master"}}},
       {log4erl, "0.9.*", {git, "git://github.com/ahmednawras/log4erl.git", {branch, "master"}}},
       {alog, "1", {git, "git://github.com/siberian-fast-food/alogger.git", {branch, "master"}}},
       {elogger, "1.2", {git, "git://github.com/etnt/elogger.git", {branch, "master"}}},
       {elog, "2.5", {git, "git://github.com/inaka/elog.git", {branch, "master"}}},
       {fast_log, ".*", {git, "git://github.com/opscode/fast-log-erlang.git", {branch, "master"}}}
       ]
}.

