{erl_opts, [debug_info]}.

{cover_enabled, true}.

{deps, [
       {lager, "1.0.*", {git, "git://github.com/basho/lager", {branch, "master"}}},
       {log4erl, "0.9.*", {git, "git://github.com/ahmednawras/log4erl.git", {branch, "master"}}},
       {alog, "1", {git, "git://github.com/siberian-fast-food/alogger.git", {branch, "master"}}}
       ]
}.

