{erl_opts, [debug_info]}.

{cover_enabled, true}.

{deps, [
       {errd, ".*", {git, "git://github.com/archaelus/errd.git", {branch, "master"}}},
       {lager, ".*", {git, "git://github.com/erlang-lager/lager", {branch, "adt/lager_use_logger-option"}}},
       {log4erl, "0.9.*", {git, "git://github.com/ahmednawras/log4erl.git", {branch, "master"}}}
       ]
}.

